[submodule "roles/ansible-role-docker"]
	path = roles/ansible-role-docker
	url = https://github.com/carneirofc/ansible-role-docker
[submodule "roles/ansible-role-ntp"]
	path = roles/ansible-role-ntp
	url = https://github.com/carneirofc/ansible-role-ntp
[submodule "roles/ansible-role-glusterfs"]
	path = roles/ansible-role-glusterfs
	url = https://github.com/carneirofc/ansible-role-glusterfs
[submodule "roles/cnpem-gas-ansible-role-docker-BbB"]
	path = roles/cnpem-gas-ansible-role-docker-BbB
	url = https://github.com/carneirofc/cnpem-gas-ansible-role-docker-BbB
[submodule "roles/cnpem-gas-ansible-role-docker-DCCT"]
	path = roles/cnpem-gas-ansible-role-docker-DCCT
	url = https://github.com/carneirofc/cnpem-gas-ansible-role-docker-DCCT
[submodule "roles/cnpem-gas-ansible-role-docker-fout"]
	path = roles/cnpem-gas-ansible-role-docker-fout
	url = https://github.com/carneirofc/cnpem-gas-ansible-role-docker-fout
[submodule "roles/cnpem-gas-ansible-role-docker-scrn"]
	path = roles/cnpem-gas-ansible-role-docker-scrn
	url = https://github.com/carneirofc/cnpem-gas-ansible-role-docker-scrn
[submodule "roles/cnpem-gas-ansible-role-docker-timing"]
	path = roles/cnpem-gas-ansible-role-docker-timing
	url = https://github.com/carneirofc/cnpem-gas-ansible-role-docker-timing
[submodule "roles/ansible-role-conda"]
	path = roles/ansible-role-conda
	url = https://github.com/carneirofc/ansible-role-conda
